@font-face {
  font-family: "avenir next";
  src: url(./fonts/avenir-next-pro-lt/avenir-next-lt-pro-regular.otf) format("opentype");
}

@font-face {
  font-family: "avenir next demi bold";
  src: url(./fonts/avenir-next-pro-lt/avenir-next-lt-pro-demi.otf) format("opentype");
}

@font-face {
  font-family: "avenir next bold";
  src: url(./fonts/avenir-next-pro-lt/avenir-next-lt-pro-bold.otf) format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "avenir next";
  color: #323232;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.font-label {
  font-size: 12px;
  line-height: 20px;
  color: #AFAFAF;
  text-decoration: none;
}

.font-list-contact {
  font-size: 14px;
  line-height: 20px;
}

.font-paragraph {
  font-size: 13px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .font-paragraph {
    font-size: 14px;
    line-height: 22px;
  }
}

.font-subheader {
  font-family: "avenir next demi bold";
  font-size: 14px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .font-subheader {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .font-header2 {
    font-family: "avenir next bold";
    font-size: 24px;
    line-height: 32px;
  }
}

.font-header {
  font-family: "avenir next bold";
  font-size: 24px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .font-header {
    font-size: 36px;
    line-height: 44px;
  }
}

.font-hero-header {
  font-family: "avenir next bold";
  font-size: 24px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .font-hero-header {
    font-size: 60px;
    line-height: 68px;
  }
}

.header {
  width: 100%;
}

.header__nav-bar {
  background-color: #323232;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .header__nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 24px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .header__nav-bar {
    padding: 0 180px;
  }
}

.header__logo-link {
  height: 19px;
}

@media screen and (min-width: 768px) {
  .header__logo-link {
    padding: 0 45px 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .header__logo-link {
    padding: 0 56px 0 0;
  }
}

.header__nav-list {
  width: 100%;
  list-style: none;
  padding: 16px 0 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    padding: 0;
  }
}

.header__nav-list-item {
  width: 50%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__nav-list-item {
    width: auto;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 16px 0 16px;
    width: 80px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .header__nav-list-item {
    margin: 0 56px 0 0;
  }
}

.header__current-site {
  padding: 0 0 6px 0;
  border-bottom: solid 4px white;
}

@media screen and (min-width: 768px) {
  .header__current-site {
    padding: 16px 8px 0 8px;
  }
}

.header__nav-link {
  color: #AFAFAF;
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .header__nav-link:hover {
    -webkit-transition: 1s;
    transition: 1s;
    color: #FFFFFF;
  }
}

.header__current-link {
  color: #FFFFFF;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  background-color: rgba(50, 50, 50, 0.5);
}

.hero__img {
  z-index: -1;
  width: 100%;
  height: 183px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero__img {
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .hero__img {
    height: 670px;
  }
}

.hero__txt {
  color: white;
  position: absolute;
  top: 60px;
  left: 16px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero__txt {
    top: 135px;
    left: 24px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .hero__txt {
    top: 230px;
    left: 180px;
  }
}

.main__article {
  padding: 0 16px 40px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main__article {
    padding: 0 24px 40px 24px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .main__article {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0 180px 40px 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__article-title {
  padding: 32px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .main__article-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.main__article-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 288px;
  height: 145px;
  padding: 24px 0 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .main__article-img {
    width: 720px;
    height: 362px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .main__article-img {
    width: 896px;
    height: 450px;
    padding: 48px 0 0 0;
  }
}

.main__quote {
  padding: 24px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .main__quote {
    width: 896px;
  }
}

.main__quote-br {
  display: none;
}

@media screen and (min-width: 1440px) {
  .main__quote-br {
    display: inline;
  }
}

.main__quotee {
  padding: 32px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .main__quotee {
    width: 896px;
  }
}

.main__musician-name {
  padding: 40px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .main__musician-name {
    width: 896px;
  }
}

@media screen and (min-width: 768px) {
  .main__musician-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 24px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .main__musician-info {
    grid-gap: 40px;
    width: 896px;
  }
}

.main__musician-text {
  padding: 24px 0 0 0;
  margin: 0;
}

.main__gallery {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFAFA;
}

@media screen and (min-width: 768px) {
  .main__gallery {
    padding: 0 24px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .main__gallery {
    padding: 0 180px;
  }
}

.main__gallery-title {
  padding: 32px 0 24px 0;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .main__gallery-title {
    padding: 48px 0 40px 0;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 24px 0;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 40px 0;
  }
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .gallery__row {
    width: 720px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .gallery__row {
    width: 1080px;
  }
}

.gallery__img {
  width: 288px;
  padding: 0 0 16px 0;
}

@media screen and (min-width: 768px) {
  .gallery__img {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 224px;
    height: 126px;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 24px 0 0 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .gallery__img {
    width: 344px;
    height: 193px;
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .gallery__img:hover {
    opacity: 1;
    -webkit-filter: none;
            filter: none;
  }
}

.footer {
  background-color: #323232;
  width: 100%;
  color: white;
  padding: 0 11px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .footer {
    padding: 0 180px;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__nav-greeting {
  margin: 0;
  padding: 48px 0 0 0;
  font-size: 36px;
}

.footer__nav-list {
  list-style: none;
  width: 130px;
  padding: 28px 0 0 5px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__nav-list {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0 210px 0 50px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .footer__nav-list {
    padding: 0 554px 0 60px;
  }
}

.footer__nav-logo-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__nav-logo-img {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .footer__nav-logo-img {
    width: 120px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav-link {
    padding: 16px 0 0 0;
    justify-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 720px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .footer__contacts {
    width: 1080px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .footer__contact-info {
    width: 276px;
  }
}

.footer__contact-name {
  padding: 32px 0 0 0;
}

@media screen and (min-width: 1440px) {
  .footer__contact-name {
    padding: 56px 0 0 0;
  }
}

.footer__contact-address {
  padding: 11px 0 0 0;
}

@media screen and (min-width: 1440px) {
  .footer__contact-address {
    padding: 24px 0 0 0;
  }
}

.footer__contact-email {
  padding: 11px 0 0 0;
}

@media screen and (min-width: 1440px) {
  .footer__contact-email {
    padding: 24px 0 0 0;
  }
}

.footer__copyright-info {
  margin: 0;
  padding: 32px 0;
}

@media screen and (min-width: 1440px) {
  .footer__copyright-info {
    padding: 40px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright-break {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */