@import './mixins/mixins.scss';
@import './fonts/fonts.scss';

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "avenir next";
    color: #323232;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// making classes for different font styles
.font-label {
    font-size: 12px;
    line-height: 20px;
    color: #AFAFAF;
    text-decoration: none;

}

.font-list-contact{
    font-size: 14px;
    line-height: 20px;
}

.font-paragraph {
    font-size: 13px;
    line-height: 18px;

    @include tablet-view() {
        font-size: 14px;
        line-height: 22px;
    }
}

.font-subheader {
    font-family: "avenir next demi bold";
    font-size: 14px;
    line-height: 22px;

    @include tablet-view() {
        font-size: 16px;
        line-height: 24px;
    }
}

.font-header2 {
    @include tablet-view() {
        font-family: "avenir next bold";
        font-size: 24px;
        line-height: 32px;
    }
}

.font-header {
    font-family: "avenir next bold";
    font-size: 24px;
    line-height: 32px;

    @include tablet-view() {
        font-size: 36px;
        line-height: 44px;
    }
}

.font-hero-header {
    font-family: "avenir next bold";
    font-size: 24px;
    line-height: 32px;

    @include tablet-view() {
        font-size: 60px;
        line-height: 68px;
    }
}

.header {
    &__nav-bar {
        background-color: #323232;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        @include tablet-view() {
            flex-direction: row;
            padding: 0 24px;
        }

        @include laptop-view() {
            padding: 0 180px;
        }
    }

    &__logo-link {
        height: 19px;

        @include tablet-view() {
            margin: 0 50px 0 0;
        }

        @include laptop-view() {
            margin: 0 56px 0 0;
        }
    }

    &__nav-list {
        width: 100%;
        list-style: none;
        padding: 16px 0 0 0;
        margin: 0;
        display: flex;

        @include tablet-view() {
            height: 80px;
            padding: 0;
        }
    }

    &__nav-list-item {
        width: 50%;
        text-align: center;
        padding: 0 0 6px 0;

        @include tablet-view() {
            width: auto;
            padding: 37px 6px 27px 6px;
            margin: 0 70px 0 0;
            font-size: 14px;
        }

        @include laptop-view() {
            margin: 0 56px 0 0;
        }
    }

    &__current-site {
        border-bottom: solid 4px white;

        @include tablet-view() {
            padding: 37px 6px 23px 6px;
        }
    }

    &__nav-link {
        color: #AFAFAF;
        text-decoration: none;

        @include laptop-view {
            &:hover {
                transition: 0.5s;
                color: #FFFFFF;
            }
        }
    }

    &__current-link {
        color: #FFFFFF;
    }
}

.hero {
    display: flex;
    position: relative;
    background-color: rgba(#323232,0.5);

    &__img {
        z-index: -1;
        width: 100%;
        height: 183px;
        object-fit: cover;

        @include tablet-view() {
            height: 400px;
        }

        @include laptop-view() {
            height: 670px;
        }
    }

    &__txt {
        color: #FFFFFF;
        position: absolute;
        top: 60px;
        left: 16px;
        margin: 0;

        @include tablet-view() {
            top: 135px;
            left: 24px;
        }

        @include laptop-view() {
            top: 235px;
            left: 180px;
        }
    }
}

.main {
    &__article {
        padding: 32px 16px 40px 16px;
        display: flex;
        flex-direction: column;
        align-items: center; //new

        @include tablet-view() {
            padding: 32px 24px 40px 24px;
        }

        @include laptop-view() {
            box-sizing: content-box;
            padding: 48px 180px 40px 180px;
            // align-items: center;
        }
    }

    &__article-title {
        margin: 0;
        align-self: flex-start; //new

        // @include laptop-view() {
        //     align-self: flex-start;
        // }
    }

    &__article-img {
        align-self: center;
        width: 288px;
        height: 145px;
        padding: 24px 0 0 0;
        object-fit: cover;

        @include tablet-view() {
            width: 720px;
            height: 362px;
        }

        @include laptop-view() {
            width: 896px;
            height: 450px;
            padding: 48px 0 0 0;
        }
    }

    &__quote {
        padding: 24px 0 0 0;
        margin: 0;
        width: 288px;

        @include tablet-view() {
            width: 720px;
        }

        @include laptop-view() {
            padding: 48px 0 0 0;
            width: 896px;
        }
    }

    &__quote-br {
        display: none;

        @include laptop-view() {
            display: inline;
        }
    }

    &__quotee {
        padding: 32px 0 0 0;
        margin: 0;
        width: 288px;

        @include tablet-view() {
            width: 720px;
        }

        @include laptop-view() {
            padding: 40px 0 0 0;
            width: 896px;
        }
    }

    &__musician-name {
        padding: 40px 0 0 0;
        margin: 0;
        width: 288px;

        @include tablet-view() {
            width: 720px;
        }

        @include laptop-view() {
            padding: 56px 0 0 0;
            width: 896px;
        }
    }

    &__musician-info {
        @include tablet-view() {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 24px;
            width: 720px;
        }

        @include laptop-view() {
            grid-gap: 40px;
            width: 896px;
        }
    }

    &__musician-text {
        padding: 24px 0 0 0;
        margin: 0;
        width: 288px;

        @include tablet-view() {
            width: auto;
        }

        @include laptop-view() {
            padding: 32px 0 0 0;
        }
    }

    &__gallery {
        padding:32px 16px 24px 16px;
        background-color: #FAFAFA;

        @include tablet-view() {
            padding: 32px 24px 16px 32px;
        }

        @include laptop-view() {
            padding: 48px 180px 16px 180px;
        }
    }

    &__gallery-title {
        padding: 0 0 24px 0;
        margin: 0;

        @include laptop-view() {
            padding: 0 0 64px 0;
        }
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__row {
        display: flex;
        flex-direction: column;

        @include tablet-view() {
            width: 720px;
            flex-direction: row;
            justify-content: space-between;
        }

        @include laptop-view() {
            width: 1080px;
        }
    }

    &__img {
        box-sizing: content-box;
        object-fit: cover;
        width: 288px;
        height: 162px;
        padding: 0 0 16px 0;

        @include tablet-view() {
            width: 224px;
            height: 126px;
            padding: 0 0 24px 0;
        }

        @include laptop-view() {
            width: 344px;
            height: 193px;
            opacity: 0.5;
            filter: grayscale(100%);
            transition: 1s;

            &:hover {
                opacity: 1;
                filter: none;
            }
        }
    }
}

.comments {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    @include tablet-view() {
        padding: 0 24px;
    }

    @include laptop-view() {
        padding: 0 180px;
    }

    &__title {
        margin: 0;
        padding: 32px 0 0 0;
    }

    &__new-comments {
        padding: 40px 0 32px 0;
        width: 288px;
        border-bottom: solid 1px #D5D2D1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: center;
        position: relative;

        @include tablet-view() {
            width: 528px;
        }
    }

    &__user-img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 60px;
    }

    &__form {
        width: 224px;
        display: flex;
        flex-direction: column;

        @include tablet-view() {
            width: 460px;
        }
    }

    &__form-user {
        height: 48px;
        margin: 0 0 16px 0;
        padding: 0 0 0 12px;
        border: solid 2px #E1E1E1;
        border-radius: 4px;

        &::placeholder {
            font-family: "avenir next";
        }

        &:focus {
            border: solid 2px #323232;
            outline: none;
        }
    }

    &__form-comment {
        height: 96px;
        margin: 0 0 16px 0;
        padding: 0 0 50px 12px;
        border: solid 2px #E1E1E1;
        border-radius: 4px;

        &::placeholder {
            font-family: "avenir next";
        }

        &:focus {
            border: solid 2px #323232;
            outline: none;
        }
    }

    &__form-button {
        height: 48px;
        border: none;
        border-radius: 4px;
        background-color: rgba(#323232, 0.9);
        color: #FFFFFF;

        &:hover {
            background-color: #323232;
        }

        @include tablet-view() {
            width: 160px;
            align-self: flex-end;
        }
    }

    &__old-comments {
        padding: 0 0 40px 0;
        align-self: center;
        max-height: 600px;
        overflow-y: scroll;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__list-item {
        padding: 24px 0 24px 0;
        margin: 0;
        width: 288px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        border-bottom: solid 1px #D5D2D1;

        @include tablet-view() {
            width: 528px;
        }
    }

    &__user-img-past {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 24px;
    }

    &__user-info {
        padding: 4px 0 0 0;
        width: 234px;
        display: flex;
        justify-content: space-between;

        @include tablet-view() {
            width: 460px;
            justify-content: flex-start;
        }
    }

    &__user-name-past {
        padding: 0 10px 0 0;
        margin: 0;
    }

    &__date {
        margin: 0;
    }

    &__comment-content {
        padding: 16px 0 0 0;
        margin: 0;
        width: 234px;
        overflow-wrap: break-word;

        @include tablet-view() {
            width: 460px;
        }
    }
}

.footer {
    background-color: #323232;
    width: 100%;
    color: white;
    padding: 48px 11px 40px 11px;
    display: flex;
    flex-direction: column;

    @include tablet-view() {
        padding: 48px 24px 48px 24px;
    }

    @include laptop-view() {
        padding: 48px 180px 48px 180px;
    }

    &__nav-bar {
        @include tablet-view() {
            display: flex;
            align-items: baseline;
        }
    }
    
    &__nav-greeting {
        margin: 0;
        font-size: 36px;

        @include tablet-view() {
            padding: 0 50px 0 0;
        }
    }

    &__nav-list {
        list-style: none;
        width: 130px;
        padding: 28px 0 0 5px;
        margin: 0;
        display: flex;
        justify-content: space-between;

        @include tablet-view() {
            padding: 0;
        }
    }

    &__nav-logo-img {
        display: none;

        @include tablet-view() {
            display: inline-block;
        }

        @include laptop-view() {
            width: 120px;
            height: 24px;
        }
    }

    &__nav-link {
        padding: 0 32px 0 0;
        @include tablet-view() {
            margin: 0 0 0 auto;
        }
    }

    @include tablet-view() {
        &__contacts {
            display: flex;
            flex-wrap: wrap;
            width: 720px;
            justify-content: space-between;

            @include laptop-view() {
                width: 1080px;
                justify-content: flex-start;
            }
        }
    }

    &__contact-info {
        padding: 18px 0 0 0;
        
        @include tablet-view() {
            padding: 46px 0 0 0;
        }

        @include laptop-view() {
            padding: 50px 0 0 0;
            width: 276px;
        }
    }

    &__contact-name {
        margin: 0;
    }

    &__contact-address {
        padding: 11px 0 0 0;
        margin: 0;

        @include laptop-view() {
            padding: 24px 0 0 0;
        }
    }

    &__contact-email {
        padding: 11px 0 0 0;
        margin: 0;

        @include laptop-view() {
            padding: 24px 0 0 0;
        }
    }

    &__copyright-info {
        margin: 0;
        padding: 40px 0 0 0;
    }

    &__copyright-break {
        @include tablet-view() {
            display: none;
        }
    }
}